

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.74);
  color: white;
  padding: 0px 15px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu > li {
  margin-left: 25px;
}